{
   "_id_" : "node",
   "_group_" : "defaults",
   "_version_" : "Bitmunk 3.0",
   "_merge_" : {
      "node" : {
         "handlers" : {
            "default" : {
               "type" : "bitmunk.handler.multi",
               "handlers" : [
                  "log-info-low",
                  "log-debug"
               ]
            },
            "log-info-low" : {
               "type" : "bitmunk.handler.log",
               "detail" : "low",
               "level" : "info"
            },
            "log-debug" : {
               "type" : "bitmunk.handler.log",
               "detail" : "high",
               "level" : "info"
            },
            "auto-login" : {
               "type" : "bitmunk.handler.login"
            },
            "shutdown" : {
               "type" : "bitmunk.handler.shutdown"
            }
         },
         "events" : {
            "monarch.kernel.MicroKernel.started" : [
               "auto-login"
            ],
            "bitmunk.node.Node.shutdown" : [
               "shutdown"
            ],
            "bitmunk.common.User.loggedIn" : [
               "default"
            ],
            "bitmunk.common.User.loggedOut" : [
               "default"
            ]
         }
      }
   }
}
