{
   "_id_" : "bitmunk.webui.WebUi",
   "_group_" : "defaults",
   "_version_" : "Monarch Config 3.0",
   "_include_" : [
      {
         "path": "{RESOURCE_PATH}/webuiplugins",
         "includeSubdirectories": true
      }
   ],
   "_merge_" : {
      "bitmunk.webui.WebUi" : {
         "cache" : {
            "resources" : true
         },
         "loggers" : {
            "console" : {
               "level" : "warning"
            },
            "log" : {
              "capacity" : 1000,
              "level" : "warning"
            }
         },
         "main" : "bitmunk.webui.Main",
         "sessionDatabase" : {
            "url" : "sqlite3://bitmunk.webui.WebUi/sessiondb.db",
            "connections" : 1
         },
         "flash" : {
            "policyServer" : {
               "host" : "0.0.0.0",
               "port" : 8843
            }
         },
         "plugins" : {}
      }
   }
}
