{
   "_id_" : "bitmunk.catalog.CustomCatalog",
   "_group_" : "defaults",
   "_version_" : "Monarch Config 3.0",
   "_merge_" : {
      "bitmunk.catalog.CustomCatalog" : {
         "listingSyncInterval" : 300,
         "testNetAccessInterval" : 300,
         "uploadListings" : true,
         "autoSell" : {
            "enabled" : true,
            "payeeSchemeId" : 0
         },
         "portMapping": {
            "enabled": true,
            "externalPort": 0,
            "description": "Bitmunk"
         }
      }
   }
}
