{
   "_id_" : "node",
   "_group_" : "defaults",
   "_version_" : "Monarch Config 3.0",
   "_merge_" : {
      "node" : {
         "bitmunkUrl" : "http://bitmunk.com:80",
         "secureBitmunkUrl" : "https://bitmunk.com:80",
         "host" : "0.0.0.0",
         "port" : 8200,
         "domains" : [
            "bitmunk.com"
         ],
         "modulePath" : [
            "{RESOURCE_PATH}/modules"
         ],
         "profilePath" : "profiles",
         "usersPath" : "users",
         "systemUserConfig" : "{BITMUNK_HOME}/default.config",
         "sslGenerate" : true,
         "sslCertificate" : "{RESOURCE_PATH}/pki/nodessl.crt",
         "sslPrivateKey" : "{RESOURCE_PATH}/pki/nodessl.key",
         "sslCAFile" : "{RESOURCE_PATH}/pki/bitmunk-ca-file.pem"
      }
   }
}
