{
   "_id_" : "node",
   "_group_" : "defaults",
   "_version_" : "Monarch Config 3.0",
   "_merge_" : {
      "node" : {
         "bitmunkUrl" : "http://bitmunk.com:80",
         "secureBitmunkUrl" : "https://bitmunk.com:80",
         "host" : "example.org",
         "port" : 80,
         "domains" : [
            "example.org"
         ],
         "maxConnectionCount" : 100,
         "maxThreadCount" : 100,
         "bitmunkHomePath" : "{BITMUNK_HOME}",
         "modulePath" : [
            "/usr/lib/bitmunk3"
         ],
         "profilePath" : "profiles",
         "usersPath" : "users",
         "systemUserConfig" : "{BITMUNK_HOME}/default.config",
         "sslGenerate" : false,
         "sslCertificate" : "/etc/bitmunk3/example.org.crt",
         "sslPrivateKey" : "/etc/bitmunk3/example.org.key",
         "sslCAFile" : "/etc/bitmunk3/example-ca-file.pem"
      }
   }
}

