{
   "_id_" : "bitmunk.test.Tester.config.base",
   "_group_" : "boot",
   "_parent_" : "root",
   "_version_" : "Monarch Config 3.0",
   "_merge_" : {
      "bitmunk.webui.WebUi" : {
         "cache" : {
            "resources" : false
         },
         "loggers" : {
            "console" : {
               "level" : "debug"
            },
            "log" : {
              "capacity" : 1000,
              "level" : "warning"
            }
         },
         "main" : "bitmunk.webui.Main",
         "sessionDatabase" : {
            "url" : "sqlite3://bitmunk.webui.WebUi/sessiondb.db",
            "connections" : 1
         },
         "flash" : {
            "policyServer" : {
               "host" : "localhost",
               "port" : 19844
            }
         },
         "plugins" : {}
      }
   }
}
