{
   "_id_" : "bitmunk.test.Tester.config.base",
   "_group_" : "boot",
   "_parent_" : "root",
   "_version_" : "Bitmunk 3.0",
   "_merge_" : {
      "bitmunk.purchase.Purchase" : {
         "temporaryPath" : "tmp",
         "downloadPath" : "dl",
         "maxDownloadRate" : 1048576,
         "maxExcessBandwidth" : 10240,
         "maxPieces" : 10,
         "database" : {
            "url" : "sqlite3://bitmunk.purchase.Purchase/purchase.db",
            "connections" : 1
         }         
      }
   }
}
