{
   "_id_" : "bitmunk.test.Tester.config.base",
   "_group_" : "defaults",
   "_version_" : "Monarch Config 3.0",
   "_merge_" : {
      "bitmunk.catalog.CustomCatalog" : {
         "listingSyncInterval" : 10,
         "testNetAccessInterval" : 300,
         "uploadListings": false,
         "autoSell" : {
            "enabled" : false,
            "payeeSchemeId" : 0
         },
         "portMapping": {
            "enabled": false,
            "externalPort": 0,
            "description": "Bitmunk"
         }      
      }
   }
}
