{
   "_version_" : "Bitmunk 3.0",
   "node" : {
      "limits" : {
         "/-/bandwidth/download" : {
            "_comment_" : "download bandwidth in bits/s",
            "high" : 8000000,
            "low" : 0,
            "max" : 12000000
         },
         "/-/bandwidth/total" : {
            "_comment_" : "total bandwidth in bits/s",
            "high" : 8000000,
            "low" : 0,
            "max" : 12000000
         },
         "/-/bandwidth/upload" : {
            "_comment_" : "upload bandwidth in bits/s",
            "high" : 8000000,
            "low" : 0,
            "max" : 80000
         },
         "/-/load" : {
            "_comment_" : "processing load in %",
            "high" : 0.8,
            "low" : 0.0,
            "max" : 2.0
         },
         "bitmunk.purchase.Purchase/ContractProcessors/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/Decryptors/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/Downloaders/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/MediaSearchers/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/Negotiators/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/Processors/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "bitmunk.purchase.Purchase/SellerSearchers/-/count" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         },
         "ops" : {
            "high" : 7,
            "low" : 0,
            "max" : 10
         }
      }
   }
}
