{
   "_id_": "bitmunk.apps.bpe",
   "_version_": "Monarch Config 3.0",
   "_group_": "after defaults",
   "_append_": {
      "monarch.app.Kernel": {
         "appPath": "/usr/lib/bitmunk3/app/libbitmunk.so"
      },
      "monarch.app.Config": {
         "appConfigs": [
            "/etc/bitmunk3/conf.d"
         ]
      },
      "node": {
         "modulePath" : ["/usr/lib/bitmunk3", "/usr/lib/bitmunk3/bpe"]
      }
   },
   "_merge_": {
      "monarch.app.Core": {
         "home": "~/.bitmunk3"
      },
      "monarch.app.Logging": {
         "color": false,
         "level": "warning"
      }
   }
}
