{
   "_id_": "bitmunk.apps.bpe",
   "_version_": "Monarch Config 3.0",
   "_group_": "after defaults",
   "_append_": {
      "monarch.app.Kernel": {
         "appPath": "/usr/lib/libbitmunk.so"
      },
      "monarch.app.Config": {
         "appConfigs": [
            "/etc/bitmunk3/conf.d"
         ]
      },
      "node": {
         "modulePath" : ["/usr/lib/bitmunk3", "/usr/lib/bitmunk3/bpe"]
      }
   },
   "_merge_": {
      "monarch.app.Core": {
         "home": "~/.bitmunk3"
      },
      "monarch.app.Logging": {
         "color": false,
         "level": "warning"
      },
      "bitmunk.webui.WebUi": {
         "flash": {
            "policyServer": {
               "host": "0.0.0.0",
               "port": 9943
            }
         }
      },
      "node": {
         "host": "0.0.0.0",
         "port": 9200,
         "domains": [
            "*"
         ],
         "login": {
            "auto": false
         }
      }
   }
}
