{
   "_version_": "Monarch Config 3.0",
   "_id_": "bitmunk.webui.Main",
   "_group_": "defaults",
   "_merge_": {
      "bitmunk.webui.WebUi": {
         "plugins": {
            "bitmunk.webui.Main": {
               "interfaces": {
                  "web": {
                     "root": "{CURRENT_DIR}",
                     "content": "../../content",
                     "details": {
                        "init": "js/init.js"
                     },
                     "virtual": {
                        "/js/nonbitmunk.all.js": [
                           "/js/jquery.js",
                           "/js/jquery.cookie.js",
                           "/js/jquery.form.js",
                           "/js/jquery.history.js",
                           "/js/jquery.jgrowl.min.js",
                           "/js/jquery.scrollpane.js",
                           "/js/jquery.sparkline.js",
                           "/js/jquery.timers.js",
                           "/js/json2.js",
                           "/js/swfobject/swfobject.js",
                           "/js/trimpath-template-1.0.38.js"
                        ],
                        "/js/bitmunk.all.js": [
                           "/test/krypto/util.js",
                           "/test/krypto/socket.js",
                           "/test/krypto/md5.js",
                           "/test/krypto/sha1.js",
                           "/test/krypto/hmac.js",
                           "/test/krypto/aes.js",
                           "/test/krypto/asn1.js",
                           "/test/krypto/jsbn.js",
                           "/test/krypto/jsbn2.js",
                           "/test/krypto/random.js",
                           "/test/krypto/pki.js",
                           "/test/krypto/tls.js",
                           "/test/krypto/http.js",
                           "/test/krypto/xhr.js",
                           "/js/bitmunk.js",
                           "/js/bitmunk.debug.js",
                           "/js/bitmunk.util.js",
                           "/js/bitmunk.log.js",
                           "/js/bitmunk.task.js",
                           "/js/bitmunk.xhr.js",
                           "/js/bitmunk.resource.js",
                           "/js/bitmunk.sys.js",
                           "/js/bitmunk.api.js",
                           "/js/bitmunk.user.js",
                           "/js/bitmunk.events.js",
                           "/js/bitmunk.model.js",
                           "/js/bitmunk.view.js",
                           "/js/bitmunk.tabbedpane.js",
                           "/js/bitmunk.filebrowser.js",
                           "/js/bitmunk.main.js"
                        ],
                        "/models/models.js": [
                           "/models/config.js",
                           "/models/accounts.js",
                           "/models/feedback.js"
                        ]
                     }
                  }
               }
            }
         }
      }
   }
}
