{
   "_version_": "Monarch Config 3.0",
   "_id_": "bitmunk.webui.MediaLibrary",
   "_group_": "defaults",
   "_merge_": {
      "bitmunk.webui.WebUi": {
         "plugins": {
            "bitmunk.webui.MediaLibrary": {
               "interfaces": {
                  "web": {
                     "root": "{CURRENT_DIR}",
                     "virtual": {
                        "/startup.js": [
                           "/medialibrary.model.js",
                           "/catalog.model.js",
                           "/common.js"
                        ],
                        "/medialibrary.js": [
                           "/medialibrary.controller.js",
                           "/medialibrary.view.js",
                           "/medialibrary.paymentEditor.js",
                           "/medialibrary.wareEditor.js"
                        ]
                     }
                  }
               }
            }
         }
      }
   }
}
