{
   "_version_": "Bitmunk 3.0",
   "_id_": "bitmunk.webui.Help",
   "_group_": "defaults",
   "_merge_": {
      "bitmunk.webui.WebUi": {
         "plugins": {
            "bitmunk.webui.Help": {
               "interfaces": {
                  "web": {
                     "root": "{CURRENT_DIR}"
                  }
               }
            }
         }
      }
   }
}
